Source: devscripts-ptux
Section: devel
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 9), python, dh-python, python-setuptools
Standards-Version: 3.9.3
X-Python-Version: 2.7

Package: devscripts-ptux
Architecture: all
Depends: dh-make, python-debian, git-buildpackage, ptuxrepo (= ${binary:Version}), ${misc:Depends}
Description: Helper scripts for Pragmatux development
 This package contains helper scripts for development in Pragmatux-based
 projects. The scripts are often enhancements to Debian's own
 development scripts from the devscripts package, in which case they
 bear a similar name, e.g., debchange becomes ptuxchange.
 .
 ptuxmake is aliased to dh-make-ptux via symlink.

Package: ptuxrepo
Architecture: all
Depends: python2.7, python-docopt, python-debian, python-yaml, openssh-client, ${misc:Depends}
Description: Pragmatux APT repository tools
 This package contains tools for managing APT repositories.
