#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_clean:
	dh_auto_clean
	cd ptuxrepo.d && python2.7 setup.py clean -a

override_dh_auto_build:
	dh_auto_build
	cd ptuxrepo.d && python2.7 setup.py build --force

devscripts_bin := debian/devscripts-ptux/usr/bin/
devscripts_share := debian/devscripts-ptux/usr/share/devscripts-dev
templates := dh-make-ptux/templates-native-gpl3
ptuxrepo_lib := debian/ptuxrepo/usr/lib/ptuxrepo

override_dh_auto_install:
	dh_auto_install
	cd ptuxrepo.d && python2.7 setup.py install \
		--force \
		--root=../debian/ptuxrepo \
		--no-compile \
		-O0 \
		--install-layout=deb
	mkdir -p $(ptuxrepo_lib)
	cp -a ptuxrepo.d/aptly $(ptuxrepo_lib)

	install -d $(devscripts_bin)
	find . -maxdepth 1 -type f -name 'ptux*' | xargs install -t $(devscripts_bin)
	install dh-make-ptux/dh-make-ptux $(devscripts_bin)
	install -d $(devscripts_share)/$(templates)
	install -m644 $(templates)/* $(devscripts_share)/$(templates)
